<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="https://use.typekit.net/ahz4opz.css">

    <title>Thom Cummings</title>
</head>

<body>
    <div class="header">
        <img class="site-icon" src="../static/img/site-icon.png" alt="">
        <h1>th0mcumm1ngs</h1>
    </div>
    
    <div class="content">

        <div class="sections">
            <div class="creations">
                <h2>Creations</h2>
                <div class="filters">
                    <button class="filter-btn">Programming</button>
                    <button class="filter-logic-toggle" data-state="and"></button>
                    <button class="filter-btn">Photography</button>
                    <button class="filter-logic-toggle" data-state="and"></button>
                    <button class="filter-btn">Music</button>
                </div>
                <div class="creations-content">
                </div>
            </div>
        </div>

        <div class="nav-bar">
            <button class="nav-arw-btn">⌃</button>
            <button class="nav-sctn-btn">PROJECTS</button>
            <button class="nav-arw-btn">⌄</button>
        </div>

    </div>
</body>

</html>